sat_imagery_fire.jpg
sam_vit_b_01ec64.pth
Imagery.jpeg
Wildfire_detection_from_satellite_imagery_model_with_Sam_v1.ipynb
Wildfire_detection_from_satellite_imagery_model_false_image_v2.ipynb
Wildfire_detection_from_satellite_imagery_model_true_color_v3.ipynb