# ignore other versions of the original image
sat_imagery_fire.jpg
Imagery.jpeg

# Ignore inital versions of the UNET Model
Wildfire_detection_from_satellite_imagery_model-v1.ipynb
Wildfire_detection_from_satellite_imagery_model_false_image-v2.ipynb
Wildfire_detection_from_satellite_imagery_model_true_color-v3.ipynb
Wildfire_detection_from_satellite_imagery_model_true_color-v4.ipynb
Wildfire_detection_from_satellite_imagery_model_true_color_normalized_labels-v5.ipynb
Wildfire_detection_from_satellite_imagery_model_true_color_normalized_labels_new_annot-v6.ipynb
Wildfire_detection_from_satellite_imagery_model-v7.ipynb
Wildfire_detection_from_satellite_imagery_new_annot_model-v8.ipynb
Wildfire_detection_from_satellite_imagery_model-v9.ipynb
Wildfire_detection_from_satellite_imagery_new_annot_model-v9.ipynb

# Ignore initial versions of GAN for data systesis 
gan.ipynb
gan-v1.ipynb
gan-v2.ipynb