# Ignore IPython Notebook checkpoints
**/*.ipynb_checkpoints/

# Ignore TIFF files
**/*.tiff
**/*.tif

# Ignore H5 files
**/*.h5

# Ignore user define checkpoints
/checkpoints

# Ignore .dist
/.dist

# Ignore dashboard
/dashboard